.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
  
  /* Logo */
  
  div#loadingBox {
    width: 375px;
    height: 200px;
    /* Center */
    right: 50%;
    left: 50%;
    margin-top: 100px; /* Negative half of height. */
    margin-left: -187px; /* Negative half of width. */
    /* Overylay */
    z-index: 2; 
    position: fixed; /* Sit on top of the page content */
    /* Hidden by default */
    display: none; 
  }
  
  .logo {
      width: 100%;
  }
  
  .progress-bar {
    background-color: whiteSmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  
    margin: auto;
    width: 60%;
    height: 20px;
    
    position: relative;
    display: block;
  }
    
  .progress-bar > span {
    background-color: rgb(0, 111, 238);
    border-radius: 2px;
  
    display: block;
    text-indent: -9999px;
  }
  